@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-ThinItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Extra Condensed';
  src: url('../fonts/SofiaSansExtraCondensed-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
